/* small size mobile screen */
/* medium size mobile screen */


/* large mobile screen */
@media screen and (max-width:450px)
{
    /* WIP */
    .filter-container{
        justify-content: space-around;
        margin-top: 0.5rem;
    }   
    .hamburger{
        display: inline-block !important;
    }

    .search{
        display: none;
    }
    
    .heading-icons{
        display: none;
    }
    .nav{
        display: none;
    }
    .filter-icons{
        display: none;
    }

    /* perfect */

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .sidebar-container{
        display: none;
    }
    .tasks-container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-bottom: 0.5rem;
    }
    .card-list{
        flex-direction: row;
        overflow-x: scroll;
        /* width: 100vh; */
    }
    .board-section2{
        flex-direction: column;
    }
    .task-type-container{
        overflow: visible;
    }
}


/* Tablet Screen */
/* @media screen and (min-width:425px) and (max-width:768px){
    
} */

/* Laptop Screen */
@media screen and (max-width:1024px)
{
    html{
        font-size: 12.8px;
    }
    .container{
        /* grid-template-rows: auto; */
        /* grid-template-columns: 1fr; */
        grid-template-columns: minmax(160px,0.7fr) minmax(3fr,4.3fr);
    }
}