.flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}
.gap{
    gap:1rem;
}
.justify-space-between{
    justify-content: space-between;
}
.flex-grow{
    flex-grow: 1;
}
.flex-col{
    flex-direction: column;
}
.gap-05{
    gap: 0.5rem;
}
.align-item-flex-end{
    align-items: flex-end;
}
.bg-green{
    background-color: #90EE90;
}
.bg-blue{
    background-color:#4BAEE8;
}
.bg-red{
    background-color: red;
}
.bg-yellow{
    background-color: #F5CD47;
}
.bg-purple{
    background-color: #7262C8;
}
.highlight{
    padding: 0.2rem;
    color: #FFF;
    display: inline-block;
    border-radius: 4px;
}

.highlight-blue{
    background-color: #0C66E4;
}
.highlight-green{
    background-color: #1F845A;
}
.highlight-purple{
    background-color: #7262C8;
}
.highlight-yellow{
    background-color: #F5CD47;
}
.nobg{
    background: none;
}
.light-text{
    color: grey;
}